<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('includes/navbar') %>
    <h1>Heading 1</h1>
    <h3><%= 1+2 %> </h3> <!-- isme ham js likh sakte hain jo code execute hoga  -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nobis, iusto exercitationem provident consequuntur sint magnam itaque cum quibusdam natus eligendi dolorem necessitatibus reiciendis qui ab deserunt consequatur repudiandae suscipit similique ea? Cupiditate repellat laborum minus dolores, veritatis alias mollitia soluta animi tenetur beatae explicabo provident ratione impedit. Veritatis, beatae.</p>
    <button>Click me </button>
    <%- include('includes/footer') %>
</body>
</html>