<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create post</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>create a post</h2>
    <form action="/posts" method="post">
        <input type="text" placeholder="enter username" name="username" class="input">
        <input type="text" placeholder="enter content" name="content" class="input">
        <button class="btn-submit">Submit</button>
    </form>
</body>
</html>