<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new user</title>
    <style>
        input{
            width: 100%;
            padding: 5px;
            margin: 5px 0;
        }
        button{
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <h2>Add new user</h2>
    <form action="/user" method="post">
        <input type="text" name="email" placeholder="enter email address">
        <input type="text"  name="username" placeholder="enter username">
        <input type="password" name="password" placeholder="enter password" >
        <button>Add new user</button>
    </form>
</body>
</html>